server {
    listen       80;
    listen       443 ssl;
    server_name  local.wordpress-trunk.dev *.local.wordpress-trunk.dev ~^local\.wordpress-trunk\.\d+\.\d+\.\d+\.\d+\.xip\.io$;
    root         /srv/www/wordpress-trunk;
    rewrite /wp-content/uploads/photography_management/(.+) /wp-content/uploads/photography_management/protect.php?f=$1 last;
    include      /etc/nginx/nginx-wp-common.conf;
}


#[PHMM] Pass donwload requests to custom php-file
#rewrite /wp-content/uploads/photography_management/(.+) /wp-content/uploads/photography_management/protect.php?f=$1 last;